@import 'variables.less';
@import url(http://fonts.googleapis.com/css?family=Shojumaru);
// General styles -------------------------------->
body {
  margin: 0;
  background-color: #D0BEA9;
  max-width: 80rem;

  .row {
    width: 100%;
    max-width: 80rem;
  }
  h1 {
    font-family: 'Shojumaru', cursive;
    margin: 10px 20px;
  }
  h1.splash {
    font-size: 6em;
    color: @lite-green;
    text-align: left;
    margin-left: 50px;
  }
}
// End General -------------------------------->
// Navigation --------------------------------->
.navigation {
  margin: 0;
  padding: 0;
}
// End Navigation -------------------------------->
// Home --------------------------------->
.bkgrd-img {
  background-color: @verywhite;
  background-image: url('/assets/dbtl.png');
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
}
// End Home ----------------------------------->

