//div(ng-attr-id="{{data.settings.chartNumber}}", style='width: 640px; height: 400px; background-color: white;')
#chartdiv1(style='width: 640px; height: 400px; background-color: white;')
#chartdiv2(ng-show="chart2Exists", style='width: 640px; height: 400px; background-color: white;')

