h1 Register
.row
    .medium-12.columns.auth-forms
        form
            .row
                .small-5.columns
                    label(for='username') Username
                        input#username(type='text', name='username', ng-model='user.username', autofocus)
                .small-7.columns
            .row
                .small-5.columns
                    label(for='password') Password
                        input#password(type='password', name='password', ng-model='user.password')
                .small-7.columns
            .row
                .small-5.columns
                    button(ng-click='submit()') Register
                .small-7.columns
