#dashboard
    .small-12.columns
        h1 Dashboard
    .large-12.columns
        .medium-6.columns
            form
                fieldset
                    legend Add a Crawl Query
                    .row.collapse
                        .small-3.large-2.columns
                            .prefix http://
                        .small-9.large-10.columns
                            input(type="text", placeholder="Enter your URL...", ng-model="search.url")
                    .row.collapse.postfix-round
                        .small-9.large-9.columns
                            select(ng-model="search.depth")
                                option(value="") Depth of Inception
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                        .small-3.columns
                            a(href="#" class="button postfix", ng-click="startSearch()") Add

        .medium-6.columns
            .large-6.columns.greeting
                h2 Hey Username!
                h3 Let's get Crawling!
            .large-6.columns.profile-pic
                img(src='', alt='')
    .large-12.columns
        .medium-6.columns
            .top
                ul
                    li Search 1
                    li Search 2
                    li Search 3
            .bottom
                .graph
        .medium-6.columns
            .top
                h3 Inbox
                ul
                    li Message 1
                    li Message 2
            .bottom
                h3 Outbox
                ul
                    li Message 1
                    li Message 2
    .large-12.columns
        .top
            li(ng-repeat='seed in seeds')
                a(href='', ng-click='showCrawlerChart(seed)') {{seed}}
            //select
            //    option(ng-repeat="seed in seeds", ng-click="showCrawlerChart()") {{seed}}
        .medium-6.columns
            div(dbtl-charts, data="seedChart")
        .medium-6.columns
            div(dbtl-crawler-charts, data="crawlerChart")









