@import '../../variables.less';
#dashboard {
  height: 800px;
  width: 100%;
  background-color: @verywhite;

  .greeting {
    text-align: center;
  }
  .profile-pic {
    text-align: center;

    img {
      width: 200px;
      height: 200px;
      border: 1px solid grey;
    }
  }
  .top {

  }
  .bottom {
    .graph {
      width: 600px;
      height: 300px;
      border: 1px solid grey;
    }
  }
}

