.row
    .small-4.columns
    .small-4.columns
        video#video(ng-hide='showCam')
        img#photo(ng-show='showCam')
    .small-4.columns
.row
    .small-4.columns
    .small-4.columns(ng-hide='showCam')
        button#startbutton(ng-hide='showCam', ng-click='takePic()') Take Photo
    .small-2.columns(ng-show='showCam')
        button#savebutton(ng-show='showCam', ng-click='savePic()') Save
    .small-2.columns(ng-show='showCam')
        button#retakebutton(ng-show='showCam', ng-click='redo()') Take Again
    .small-4.columns
canvas#canvas(ng-hide='hide')

img(src='{{user.profilePic}}', style='width: 200px')