h1 PROFILE
video#video
button#startbutton(ng-click='takePicture()') Snapshot
canvas#canvas
#photo(ng-src='http://static.ddmcdn.com/gif/recipes/dung-beetle-why-poop-cool-feet-protect-121023-678981-.jpg')
